body {
	background-image: url(./roses.jpg);
	background-repeat: repeat;
	margin: 0;
	width: 100%;
}


html {
	scroll-behavior: smooth;
}

.inner {
	margin: 0 auto;
	background-color: white;
	width: 75%;
	border-left: 3px solid gray;
  	border-right: 3px solid gray;
}

#height-total-vh {
	height: 100vh;
}

#height-hundred-percent {
	height: 100%;
}


.link:link {
    text-decoration: inherit;
    color: inherit;
}

.link:hover {
	background-color: black;
}

.link:visited {
    text-decoration: inherit;
    color: inherit;
}